---
import Welcome from "../components/Welcome";
import ConfirmPopup from "../components/popup/ConfirmPopup";
import ShowPopup from "../components/popup/ShowPopup";
import { envConfig } from "../config/envConfig";
import Layout from "../layouts/Layout.astro";
---

<Layout title={"Dashboard - " + envConfig.PUBLIC_ORGNAME}>
  <div class="p-6">
    <Welcome />
    <section class="mt-6 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
      <div
        class="flex items-center p-8 bg-white shadow-lg border border-gray-200 rounded-lg"
      >
        <div
          class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-purple-600 bg-green-100 rounded-full mr-6"
        >
          <img
            src="/verified.svg"
            class="h-[55px]"
            style="filter: invert(42%) sepia(83%) saturate(3899%) hue-rotate(125deg) brightness(100%) contrast(83%);"
          />
        </div>
        <div>
          <span class="block text-2xl font-bold">862</span>
          <span class="block text-gray-500">Verification Utilized</span>
        </div>
      </div>
      <div
        class="flex items-center p-8 bg-white shadow-lg border border-gray-200 rounded-lg"
      >
        <div
          class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-purple-600 bg-red-100 rounded-full mr-6"
        >
          <img
            src="/issue.svg"
            class="h-[55px]"
            style="filter: invert(13%) sepia(85%) saturate(4730%) hue-rotate(290deg) brightness(78%) contrast(89%);"
          />
        </div>
        <div>
          <span class="block text-2xl font-bold">13</span>
          <span class="block text-gray-500">Verification Available</span>
        </div>
      </div>
      <div
        class="flex items-center p-8 bg-white shadow-lg border border-gray-200 rounded-lg"
      >
        <div
          class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-blue-600 bg-blue-100 rounded-full mr-6"
        >
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9 9H15M9 12H15M9 15H15M5 3V21L8 19L10 21L12 19L14 21L16 19L19 21V3L16 5L14 3L12 5L10 3L8 5L5 3Z"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
        <div>
          <span class="block text-2xl font-bold">87</span>
          <span class="block text-gray-500">Pending Verifications</span>
        </div>
      </div>
    </section>
    <section class="mt-6 flex w-full justify-end">
      <a
        href="/payment"
        class="bg-primary px-6 py-4 text-white rounded-md hover:bg-blue-900 flex"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 mr-2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
          ></path>
        </svg>
        Purchase verification limits
      </a>
    </section>
  </div>
  <ShowPopup client:load />
</Layout>

<!-- <script>
  const url = window.location.search;
  if (url === "?purchase=true") {
    localStorage.removeItem("purchase");

  }
</script> -->
