---
import Welcome from "../components/Welcome";
import ConfirmPopup from "../components/popup/ConfirmPopup";
import ShowPopup from "../components/popup/ShowPopup";
import { envConfig } from "../config/envConfig";
import Layout from "../layouts/Layout.astro";
---

<Layout title={"Dashboard - " + envConfig.PUBLIC_ORGNAME}>
  <div class="p-6">
    <Welcome />
    <section class="mt-6 p-6 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 divide-x bg-white shadow-lg border border-gray-200 rounded-lg">
      <div
        class="flex gap-4"
      >
        <div
          class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 bg-[#E3E0EF] rounded-xl p-[0.75rem]"
        >
          <img
            src="/credit-card1.png"
            class="w-[55px]"
          />            
        </div>
        <div>
          <span class="block text-2xl font-bold">862<span class="text-lg text-gray-500">/1000</span></span>
          <span class="block text-gray-500">Utilized Credits</span>
        </div>
      </div>
      <div
        class="pl-6 flex gap-4"
      >
      <div
        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 bg-[#EAF9FF] rounded-xl"
      >
      <svg width="40" height="40" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.458496 5.36921C0.458496 4.18509 1.40077 3.2085 2.58349 3.2085H17.5835C18.7663 3.2085 19.7085 4.18509 19.7085 5.36921V10.0835C19.7085 10.3366 19.5033 10.5418 19.2502 10.5418C18.9971 10.5418 18.7918 10.3366 18.7918 10.0835V5.36921C18.7918 4.67294 18.2417 4.12516 17.5835 4.12516H2.58349C1.92526 4.12516 1.37516 4.67294 1.37516 5.36921V13.8812C1.37516 14.5774 1.92526 15.1252 2.58349 15.1252H9.16683C9.41992 15.1252 9.62516 15.3304 9.62516 15.5835C9.62516 15.8366 9.41992 16.0418 9.16683 16.0418H2.58349C1.40077 16.0418 0.458496 15.0652 0.458496 13.8812V5.36921Z" fill="#00B7FE" stroke="#00B7FE" stroke-width="0.4"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.458496 6.41683C0.458496 6.1637 0.663699 5.9585 0.916829 5.9585H19.2502C19.5033 5.9585 19.7085 6.1637 19.7085 6.41683C19.7085 6.66996 19.5033 6.87516 19.2502 6.87516H0.916829C0.663699 6.87516 0.458496 6.66996 0.458496 6.41683Z" fill="#00B7FE"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.29199 11.0003C2.29199 10.7472 2.4972 10.542 2.75033 10.542H4.58366C4.83679 10.542 5.04199 10.7472 5.04199 11.0003C5.04199 11.2534 4.83679 11.4587 4.58366 11.4587H2.75033C2.4972 11.4587 2.29199 11.2534 2.29199 11.0003Z" fill="#00B7FE"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.29199 13.2918C2.29199 13.0387 2.4972 12.8335 2.75033 12.8335H6.41699C6.67012 12.8335 6.87533 13.0387 6.87533 13.2918C6.87533 13.5449 6.67012 13.7502 6.41699 13.7502H2.75033C2.4972 13.7502 2.29199 13.5449 2.29199 13.2918Z" fill="#00B7FE"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.5002 11.3752C13.222 11.3752 11.3752 13.222 11.3752 15.5002C11.3752 17.7784 13.222 19.6252 15.5002 19.6252C17.7784 19.6252 19.6252 17.7784 19.6252 15.5002C19.6252 13.222 17.7784 11.3752 15.5002 11.3752ZM10.4585 15.5002C10.4585 12.7157 12.7157 10.4585 15.5002 10.4585C18.2846 10.4585 20.5418 12.7157 20.5418 15.5002C20.5418 18.2846 18.2846 20.5418 15.5002 20.5418C12.7157 20.5418 10.4585 18.2846 10.4585 15.5002Z" fill="#00B7FE"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.6155 13.8081C17.7945 13.6292 18.0847 13.6292 18.2637 13.8081C18.4427 13.9871 18.4427 14.2773 18.2637 14.4564L14.9778 17.1989C14.7988 17.3778 14.5085 17.3778 14.3295 17.1989L12.9545 15.8239C12.7756 15.6449 12.7756 15.3546 12.9545 15.1756C13.1335 14.9967 13.4238 14.9967 13.6028 15.1756L14.6536 16.2266L17.6155 13.8081Z" fill="#00B7FE"/>
        </svg>
        
      </div>
        <div>
          <span class="block text-2xl font-bold">13</span>
          <span class="block text-gray-500">Verifications Made</span>
        </div>
      </div>
      <div
        class="pl-6 flex gap-4"
      >
      <div
        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 bg-[#EFE6E0] rounded-xl"
      >
      <svg width="40" height="40" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.458496 5.36921C0.458496 4.18509 1.40077 3.2085 2.58349 3.2085H17.5835C18.7663 3.2085 19.7085 4.18509 19.7085 5.36921V10.0835C19.7085 10.3366 19.5033 10.5418 19.2502 10.5418C18.9971 10.5418 18.7918 10.3366 18.7918 10.0835V5.36921C18.7918 4.67294 18.2417 4.12516 17.5835 4.12516H2.58349C1.92526 4.12516 1.37516 4.67294 1.37516 5.36921V13.8812C1.37516 14.5774 1.92526 15.1252 2.58349 15.1252H9.16683C9.41992 15.1252 9.62516 15.3304 9.62516 15.5835C9.62516 15.8366 9.41992 16.0418 9.16683 16.0418H2.58349C1.40077 16.0418 0.458496 15.0652 0.458496 13.8812V5.36921Z" fill="#FF6A00" stroke="#FF6A00" stroke-width="0.4"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.458496 6.41683C0.458496 6.1637 0.663699 5.9585 0.916829 5.9585H19.2502C19.5033 5.9585 19.7085 6.1637 19.7085 6.41683C19.7085 6.66996 19.5033 6.87516 19.2502 6.87516H0.916829C0.663699 6.87516 0.458496 6.66996 0.458496 6.41683Z" fill="#FF6A00"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.29199 11.0003C2.29199 10.7472 2.4972 10.542 2.75033 10.542H4.58366C4.83679 10.542 5.04199 10.7472 5.04199 11.0003C5.04199 11.2534 4.83679 11.4587 4.58366 11.4587H2.75033C2.4972 11.4587 2.29199 11.2534 2.29199 11.0003Z" fill="#FF6A00"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.29199 13.2918C2.29199 13.0387 2.4972 12.8335 2.75033 12.8335H6.41699C6.67012 12.8335 6.87533 13.0387 6.87533 13.2918C6.87533 13.5449 6.67012 13.7502 6.41699 13.7502H2.75033C2.4972 13.7502 2.29199 13.5449 2.29199 13.2918Z" fill="#FF6A00"/>
        <path d="M19.58 19.5957L19.5199 19.5355L19.58 19.5956C20.5403 18.6353 21.0694 17.3581 21.0694 16C21.0694 14.6419 20.5403 13.3647 19.58 12.4043L19.5199 12.4645L19.58 12.4043C18.6197 11.4441 17.3425 10.915 15.9844 10.915C15.7756 10.915 15.6064 11.0842 15.6064 11.293C15.6064 11.5017 15.7756 11.6709 15.9844 11.6709C18.3714 11.6709 20.3134 13.613 20.3134 16C20.3134 18.387 18.3714 20.3291 15.9844 20.3291C15.7756 20.3291 15.6064 20.4983 15.6064 20.707C15.6064 20.9158 15.7756 21.085 15.9844 21.085C17.3425 21.085 18.6197 20.5559 19.58 19.5957Z" fill="#FF6A00" stroke="#FF6A00" stroke-width="0.17"/>
        <path d="M18.6051 18.6208C18.7528 18.4732 18.7528 18.2339 18.6051 18.0863L16.3623 15.8434V13.0581C16.3623 12.8494 16.1931 12.6801 15.9844 12.6801C15.7756 12.6801 15.6064 12.8494 15.6064 13.0581V16C15.6064 16.1003 15.6462 16.1964 15.7171 16.2673L18.0706 18.6207C18.0706 18.6208 18.0706 18.6208 18.0706 18.6208C18.1444 18.6946 18.2413 18.7315 18.3379 18.7315C18.4345 18.7315 18.5314 18.6946 18.6051 18.6208ZM18.6051 18.6208L18.545 18.5607L18.6052 18.6208C18.6052 18.6208 18.6051 18.6208 18.6051 18.6208Z" fill="#FF6A00" stroke="#FF6A00" stroke-width="0.17"/>
        <path d="M14.8943 11.8093L14.8943 11.8093L14.8943 11.8093C14.8928 11.8097 14.858 11.8196 14.8085 11.834L14.8943 11.8093ZM14.8943 11.8093L14.895 11.8091M14.8943 11.8093L14.895 11.8091M14.895 11.8091C15.0959 11.7524 15.2127 11.5435 15.1559 11.3426M14.895 11.8091L15.1559 11.3426M14.4085 11.1649L14.4085 11.1649C14.5374 11.1247 14.6829 11.0835 14.6895 11.0817L14.4085 11.1649ZM14.4085 11.1649C14.2709 11.2079 14.1481 11.2569 14.1418 11.2595C13.948 11.337 13.8539 11.5569 13.9314 11.7507L13.9314 11.7507M14.4085 11.1649L13.9314 11.7507M13.9314 11.7507C13.9905 11.8986 14.1326 11.9883 14.2824 11.9883C14.3292 11.9883 14.3767 11.9796 14.4226 11.9613M13.9314 11.7507L14.4226 11.9613M14.4226 11.9613L14.4226 11.9613M14.4226 11.9613L14.4226 11.9613M14.4226 11.9613C14.432 11.9576 14.5296 11.9191 14.634 11.8864L14.4226 11.9613ZM15.1559 11.3426C15.0992 11.1418 14.8905 11.0249 14.6895 11.0817L15.156 11.3426C15.156 11.3426 15.156 11.3426 15.1559 11.3426Z" fill="#FF6A00" stroke="#FF6A00" stroke-width="0.17"/>
        <path d="M12.5985 12.205C12.4442 12.3456 12.4331 12.5845 12.5735 12.7388L12.5735 12.7388L12.8153 12.023C12.7014 12.1115 12.6036 12.2004 12.5985 12.205ZM12.5985 12.205C12.5985 12.205 12.5985 12.205 12.5985 12.205L12.6558 12.2679L12.5985 12.2051C12.5985 12.2051 12.5985 12.2051 12.5985 12.205ZM13.2792 12.6199L13.2792 12.6199C13.1903 12.689 13.1102 12.7615 13.1074 12.7641C13.1073 12.7641 13.1073 12.7641 13.1073 12.7641L13.1073 12.7641L13.0502 12.7012L13.2792 12.6199ZM13.2792 12.6199C13.3282 12.5819 13.3822 12.5411 13.4243 12.5097C13.4665 12.4781 13.496 12.4565 13.496 12.4565L13.496 12.4565M13.2792 12.6199L13.496 12.4565M13.496 12.4565L13.4965 12.4561M13.496 12.4565L13.4965 12.4561M13.4965 12.4561C13.6648 12.3326 13.7011 12.0961 13.5776 11.9278L13.5776 11.9278M13.4965 12.4561L13.5776 11.9278M13.5776 11.9278C13.4541 11.7595 13.2176 11.7232 13.0493 11.8466M13.5776 11.9278L12.8153 12.023C12.922 11.9401 13.0441 11.8505 13.0493 11.8466M13.0493 11.8466L13.0995 11.9152L13.0493 11.8467C13.0493 11.8467 13.0493 11.8467 13.0493 11.8466Z" fill="#FF6A00" stroke="#FF6A00" stroke-width="0.17"/>
        <path d="M12.3036 13.0286L12.3036 13.0286C12.4782 13.143 12.5271 13.3772 12.4127 13.5518M12.3036 13.0286L12.2664 13.7814L12.1941 13.7368L12.2664 13.7814M12.3036 13.0286C12.129 12.9142 11.8947 12.963 11.7803 13.1377M12.3036 13.0286L11.7803 13.1377M12.4127 13.5518L12.3416 13.5053L12.4128 13.5516L12.4127 13.5518ZM12.4127 13.5518L12.4125 13.5521C12.4069 13.5607 12.3297 13.6788 12.2664 13.7814M12.2664 13.7814C12.2099 13.8731 12.1623 13.9646 12.1572 13.9743M12.2664 13.7814L12.1572 13.9743M11.8514 13.1842L11.7804 13.1376C11.7768 13.143 11.6939 13.2697 11.623 13.3848M11.8514 13.1842L11.623 13.3848M11.8514 13.1842L11.7803 13.1377M11.8514 13.1842L11.7803 13.1377M11.623 13.3848L11.6953 13.4294L11.623 13.3848ZM11.4836 13.6312L11.4837 13.6311C11.4865 13.6257 11.5471 13.5079 11.623 13.3848L11.4836 13.6312ZM11.4836 13.6312C11.3883 13.8168 11.4615 14.0446 11.6471 14.1399L11.6471 14.1399M11.4836 13.6312L11.6471 14.1399M11.6471 14.1399C11.7023 14.1683 11.7614 14.1818 11.8196 14.1818C11.9565 14.1818 12.089 14.107 12.156 13.9766L12.1561 13.9766M11.6471 14.1399L12.1561 13.9766M12.1561 13.9766L12.1568 13.9751M12.1561 13.9766L12.1568 13.9751M12.1568 13.9751C12.1567 13.9752 12.1569 13.9749 12.1572 13.9743M12.1568 13.9751L12.1572 13.9743" fill="#FF6A00" stroke="#FF6A00" stroke-width="0.17"/>
        <path d="M11.2705 15.7768L11.2705 15.7768C11.0631 15.7525 10.9148 15.5648 10.9391 15.3575M11.2705 15.7768L10.9833 15.078C10.9555 15.2192 10.9399 15.3502 10.9391 15.3575M11.2705 15.7768C11.2853 15.7786 11.3 15.7794 11.3148 15.7794M11.2705 15.7768L11.3148 15.7794M10.9391 15.3575C10.9391 15.3575 10.9391 15.3574 10.9391 15.3574L11.0235 15.3673L10.9391 15.3576C10.9391 15.3575 10.9391 15.3575 10.9391 15.3575ZM11.7815 14.9582L11.7815 14.9582L11.7814 14.9584C11.7813 14.9591 11.7808 14.9612 11.78 14.9646L11.776 14.9828L11.7622 15.0457C11.751 15.097 11.737 15.1632 11.725 15.2241C11.725 15.2241 11.725 15.2241 11.725 15.2241L11.7815 14.9582ZM11.7815 14.9582L11.7815 14.9579M11.7815 14.9582L11.7815 14.9579M11.7815 14.9579C11.8275 14.7543 11.6998 14.5519 11.4962 14.5059L11.7815 14.9579ZM11.3148 15.7794C11.504 15.7794 11.6673 15.6379 11.6899 15.4455L11.3148 15.7794ZM11.4962 14.5059C11.2925 14.4599 11.0902 14.5877 11.0442 14.7913L11.1271 14.81L11.4962 14.5059Z" fill="#FF6A00" stroke="#FF6A00" stroke-width="0.17"/>
        <path d="M11.768 16.9846L11.768 16.9846C11.8179 17.1873 11.694 17.392 11.4913 17.4419L11.4913 17.4419C11.4611 17.4493 11.4308 17.4529 11.4008 17.4529C11.2309 17.4529 11.0764 17.3377 11.034 17.1652L11.768 16.9846ZM11.768 16.9846L11.7679 16.9839M11.768 16.9846L11.7679 16.9839M11.7679 16.9839C11.7679 16.9839 11.7679 16.9839 11.7678 16.9838C11.7668 16.9795 11.7417 16.8763 11.7234 16.765L11.7234 16.765M11.7679 16.9839L11.7234 16.765M11.7234 16.765C11.7133 16.7037 11.7033 16.6368 11.6958 16.5849L11.6866 16.5211L11.6841 16.5026L11.6834 16.4976C11.6833 16.4971 11.6833 16.4967 11.6832 16.4964L11.6832 16.4959L11.6831 16.4958M11.7234 16.765L11.6831 16.4958M11.6831 16.4958C11.6549 16.2891 11.4647 16.1441 11.2575 16.1724L11.6831 16.4958ZM10.9775 16.8878C10.9557 16.7557 10.9354 16.6071 10.9342 16.5983L10.9341 16.5981L10.9341 16.598C10.9059 16.3912 11.0507 16.2007 11.2575 16.1724L11.034 17.1652C11.0324 17.1588 11.0009 17.0303 10.9775 16.8878ZM10.9775 16.8878L11.0613 16.874L10.9775 16.8878Z" fill="#FF6A00" stroke="#FF6A00" stroke-width="0.17"/>
        <path d="M12.3796 18.3991L12.3796 18.3991C12.4971 18.5716 12.4527 18.8067 12.2803 18.9243M12.3796 18.3991L11.7552 18.8252C11.8284 18.9325 11.9472 18.9901 12.0676 18.9901C12.141 18.9901 12.2152 18.9687 12.2803 18.9243M12.3796 18.3991L12.3794 18.3989M12.3796 18.3991L12.3794 18.3989M12.2803 18.9243L12.2324 18.8541L12.2803 18.9243C12.2803 18.9243 12.2803 18.9243 12.2803 18.9243ZM12.3794 18.3989C12.3794 18.3989 12.3794 18.3988 12.3794 18.3988C12.3782 18.3971 12.3631 18.3749 12.3414 18.3411C12.3187 18.3057 12.2891 18.2583 12.2608 18.209C12.202 18.1065 12.1367 17.9855 12.1293 17.9717M12.3794 18.3989L12.1293 17.9717M12.1293 17.9717C12.1291 17.9714 12.1289 17.9711 12.1288 17.9709M12.1293 17.9717L12.1288 17.9709M12.1288 17.9709C12.0299 17.787 11.8007 17.7182 11.6169 17.8171L12.1288 17.9709ZM11.4631 18.329C11.3642 18.1452 11.4331 17.916 11.6169 17.8171L11.4631 18.329ZM11.4631 18.329L11.538 18.2887M11.4631 18.329L11.538 18.2887M11.538 18.2887L11.463 18.3288C11.4661 18.3347 11.5379 18.468 11.6052 18.5852M11.538 18.2887L11.6052 18.5852M11.6052 18.5852C11.6768 18.71 11.751 18.8191 11.7552 18.8252L11.6052 18.5852Z" fill="#FF6A00" stroke="#FF6A00" stroke-width="0.17"/>
        <path d="M13.4482 19.5094L13.4484 19.5095C13.6189 19.6298 13.6596 19.8656 13.5394 20.0362L13.5394 20.0362C13.4657 20.1406 13.3487 20.1963 13.2302 20.1963C13.155 20.1963 13.0789 20.1738 13.0128 20.1273M13.4482 19.5094L13.2705 19.3729C13.2227 19.3333 13.1713 19.2894 13.1315 19.2552C13.0936 19.2225 13.0669 19.1992 13.0644 19.1969C13.0642 19.1968 13.0641 19.1967 13.0641 19.1967L13.0642 19.1967L13.0636 19.1962C12.9066 19.0587 12.6678 19.0743 12.5302 19.2314L12.5941 19.2874L12.5302 19.2314C12.3926 19.3884 12.4084 19.6271 12.5653 19.7647M13.4482 19.5094L13.4482 19.5093M13.4482 19.5094L13.4482 19.5093M13.0128 20.1273C13.0072 20.1233 12.8992 20.047 12.7882 19.955L12.7882 19.955C12.6841 19.8687 12.5702 19.769 12.5653 19.7647M13.0128 20.1273C13.0128 20.1273 13.0128 20.1273 13.0128 20.1273L13.0617 20.0578L13.0128 20.1273C13.0128 20.1273 13.0128 20.1273 13.0128 20.1273ZM12.5653 19.7647L12.6214 19.7008L12.5653 19.7647C12.5653 19.7647 12.5653 19.7647 12.5653 19.7647ZM13.4482 19.5093C13.4469 19.5084 13.4249 19.4928 13.3924 19.4685M13.4482 19.5093L13.3924 19.4685M13.3924 19.4685C13.3587 19.4433 13.3143 19.4093 13.2705 19.3729L13.3924 19.4685Z" fill="#FF6A00" stroke="#FF6A00" stroke-width="0.17"/>
        <path d="M14.8378 20.1753L14.8378 20.1753C15.0397 20.2282 15.1606 20.4348 15.1076 20.6367L14.8378 20.1753ZM14.8378 20.1753L14.8369 20.1751M14.8378 20.1753L14.8369 20.1751M14.8369 20.1751C14.8369 20.1751 14.8368 20.1751 14.8366 20.175M14.8369 20.1751L14.8366 20.175M14.3677 20.0167L14.3679 20.0167C14.3678 20.0167 14.3683 20.0169 14.3695 20.0174L14.3742 20.0191L14.3917 20.0257L14.4521 20.0481C14.5013 20.0663 14.5649 20.0894 14.6235 20.1098L14.3677 20.0167ZM14.3677 20.0167C14.1726 19.9428 13.9544 20.0412 13.8805 20.2364L13.8805 20.2364M14.3677 20.0167L13.8805 20.2364M13.8805 20.2364C13.8066 20.4317 13.905 20.6498 14.1002 20.7237L14.1002 20.7237M13.8805 20.2364L14.1002 20.7237M14.1002 20.7237C14.1062 20.726 14.2478 20.7795 14.3756 20.8239L14.1002 20.7237ZM14.6462 20.9066L14.6458 20.9065C14.6457 20.9064 14.6454 20.9064 14.6451 20.9063C14.6336 20.9032 14.5086 20.8701 14.3756 20.8239L14.6462 20.9066ZM14.6462 20.9066C14.6781 20.9149 14.7104 20.919 14.7422 20.919M14.6462 20.9066L14.7422 20.919M14.8366 20.175C14.8304 20.1734 14.7289 20.1464 14.6235 20.1098L14.8366 20.175ZM14.7422 20.919C14.9098 20.919 15.0631 20.8067 15.1076 20.6368L14.7422 20.919Z" fill="#FF6A00" stroke="#FF6A00" stroke-width="0.17"/>
        </svg>
        
      </div>
        <div>
          <span class="block text-2xl font-bold">87</span>
          <span class="block text-gray-500">Pending Request</span>
        </div>
      </div>
    </section>
    <div class="mt-6">
      <h2 class="text-lg font-semibold">
        Credits
      </h2>
      <p class="text-md font-normal text-gray-500">
        Running low on credits? Click below to purchase more.
      </p>
    </div>
    <section class="mt-4 w-fit p-6 bg-white shadow-lg border border-gray-200 rounded-lg">
      <div
        class="flex gap-4 mb-6"
      >
        <div
          class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 bg-[#E3E0EF] rounded-xl p-[0.75rem]"
        >
          <img
            src="/credits.svg"
            class="h-[55px]"
          />            
        </div>
        <div>
          <span class="block text-2xl font-bold">138</span>
          <span class="block text-gray-500">Total credits</span>
        </div>
      </div>
      <a
        href="/payment"
        class="bg-primary px-6 py-4 text-white rounded-md hover:bg-blue-900 flex"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 mr-2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
          ></path>
        </svg>
        Purchase Credits
      </a>
    </section>
  </div>
  <ShowPopup client:load />
</Layout>

<!-- <script>
  const url = window.location.search;
  if (url === "?purchase=true") {
    localStorage.removeItem("purchase");

  }
</script> -->
