---
import Layout from "../layouts/Layout.astro";
import PaymentCard from "../components/PaymentCard.astro";
import { envConfig } from "../config/envConfig";
import PaymentSummary from "../components/Payment";
---

<Layout title={"Payment - " + envConfig.PUBLIC_ORGNAME}>
  <div class="p-6">
    <div
      class="divide-x divide-primary grid grid-cols-1 md:grid-cols-2 w-full sm:w-auto shadow-lg mx-auto rounded-xl bg-white p-6"
    >
      <PaymentSummary client:load/>
      <div id="payment-option" class="cursor-allowed">
        <PaymentCard />
      </div>
    </div>
  </div>
</Layout>

<script>
  const button = document.getElementById("purchase-btn");
  const payment = document.getElementById("payment-option");
  const spinner = document.getElementById("place-spinner");
  button?.addEventListener("click", () => {
    if (spinner) {
      spinner.style.display = "block";
    }
    setTimeout(() => {
      if (spinner) {
        spinner.style.display = "none";
      }
      if (button) {
        button.style.display = "none";
      }
      payment?.classList.add("!opacity-100");
      payment?.classList.add("!pointer-events-auto");
      payment?.classList.add("!cursor-default");
    }, 2000);
  });
</script>
