---
import VerifyCredentials from "../components/verification/VerifyCrdentials";
import Layout from "../layouts/Layout.astro";
import { getSupabaseClient, loginUser } from "../api/auth";
import { envConfig } from "../config/envConfig";
import { apiRoutes } from "../config/apiRoutes";

let token = await Astro.cookies.get("session")?.value;
console.log(234234, token)
const login = async () => {
  const res = await loginUser();
  console.log(3453457, res)
  await Astro.cookies.set("session", res);
};

try {
		const baseURL =
			envConfig.PUBLIC_BASE_URL ||
			process.env.PUBLIC_BASE_URL;
		const config = {
			headers: {
				'Content-Type': 'application/json',
				Authorization: `Bearer ${token}`,
			},
			method: 'GET',
		};
		const res = await fetch(`${baseURL + apiRoutes.userProfile}`, {
			...config,
		});
		const userData = await res.json();
		console.log('Check Authorized User:::', {
			status: userData.statusCode,
			message: userData.message,
		});

		if (userData?.statusCode === 401) {
			await login();
		}
	} catch (error) {
		console.log('GET USER DETAILS ERROR::::', error);
	}

token = Astro.cookies.get("session")?.value;
console.log(23423411, token);
---

<Layout title={"Verify - " + envConfig.PUBLIC_ORGNAME}>
  <main>
    <VerifyCredentials token={token || ""} client:load />
  </main>
</Layout>

<style></style>
