---
import { envConfig } from "../config/envConfig";
---

<nav
  class="fixed w-full top-0 z-50 bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 px-6 py-1 lg:pl-3"
>
  <div class="flex items-center justify-between">
    <div class="flex items-center justify-start">
      <a class="flex mr-4" href="/dashboard">
        <img class="h-[50px] w-auto" src={envConfig.PUBLIC_ORG_LOGO} />
        {
          envConfig.PUBLIC_ORGNAME && (
            <span class="ml-2 self-center text-2xl font-semibold whitespace-nowrap text-black dark:text-white">
              {envConfig.PUBLIC_ORGNAME}
            </span>
          )
        }
      </a>
    </div>
    <div class="flex flex-col items-end">
      <p class="text-sm mb-1">rohit.acharya@gmail.com</p>
      <p
        id="logout-btn"
        class="w-fit text-primary hover:text-blue-600 hover:underline hover:underline-offset-3 cursor-pointer text-md rounded-md"
      >
        Logout
      </p>
    </div>
  </div>
</nav>

<script>
  const button = document.querySelector("#logout-btn");
  console.log(765765, button);
  button?.addEventListener("click", () => {
    localStorage.clear();
    window.location.assign("/");
  });
</script>
